:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --cz-light:#FFF,
  --cz-dark-100: #e6e6e6,
  --cz-border-solid: 1px solid;
  --cz-primary: #6D401B;
  --cz-dark: #000;
}

* {
  margin: 0;
  padding: 0;
}

body,html{
  height: 100%;
  box-sizing: border-box;
}

button{
  border: none;
  background: #6D401B;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

ul{
  list-style: none;
}

#root{
  height: 100%;
}

.pointer{
  cursor: pointer;
}

.cz-wrapper{
  display: flex;
  height: 100%;
}

.cz-content{
  width: 100%;
  /* margin: 0 0 0 220px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 25px 0;
  background-color: #eff0f4;
  /* min-height: 100vw; */
  height: 100%;
}